<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%= @TITLE %></title>

	<%= @CSS_STARTER %>

	<style>
	<%= @CSS %>
	</style>
</head>

<body>

	<%= @HTML %>
	
	<%= @JSLIB %>
	<%= @PREFIX %>
	
	<script>
		function __run() {
		    <%= @JS %>
		}
		
		__run();
	</script>

</body>

</html>