<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title><%= @tbdb['slug'] %></title>

	<style>
	<%= @tbdb['css'] %>
	</style>
</head>

<body>
	<%= @tbdb['html'] %>

	<script src=""></script>
	<script src="<%= @tbdb['cssOptions']['prefixTree'] %>"></script>
	<script>
		function __run() {
			<%= @tbdb['js'] %>
		}
		
		__run();
	</script>

	<!-- Add stuff in here about capturing key events and passing them back up? -->

</body>

</html>