<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">

	<title>Tinkerbox</title>
    
    <link href="//get.pictos.cc/fonts/555/1" rel="stylesheet">
    <script src="http://use.typekit.com/nnp0iyi.js"></script>
    <script>try { Typekit.load(); } catch(e) {}</script>

    <link rel="stylesheet" href="/stylesheets/css/main.css">
</head>

<body data-theme="sublime">

	<%= partial :header %>

	<div class="wrap">

		<div class="boxes">

			<div class="top-boxes group">

				<div class="box-html">

					<div class="powers">
						<h2>HTML</h2>
						<a href="#" class="settings-nub icon-replace" title="Open Settings"><span aria-hidden="true">d</span></a>
						<a href="#" class="expander icon-replace" title="Expand"><span aria-hidden="true">p</span></a>
					</div>

					<textarea id="html" class="code-box"></textarea>

					<div class="settings">

						<form>
							<div>
								<input type="radio" class="hidden" id="html-none" checked name="html-preprocessor" value="none">
								<label class="button" for="html-none">None</label>
							</div>
							<div>
								<input type="radio" class="hidden" id="jade" name="html-preprocessor" value="jade">
								<label class="button" for="jade">Jade <a target="_blank" href="http://jade-lang.com/">?</a></label>
							</div>
							<div>
								<input type="radio" class="hidden" id="haml" name="html-preprocessor" value="haml">
								<label class="button" for="haml">HAML <a target="_blank" href="#">?</a></label>
							</div>
						</form>

					</div>

				</div><!-- END div.box-html -->

				<div class="box-css" id="box-css">

					<div class="powers">
						<h2>CSS</h2>
						<a href="#" class="settings-nub icon-replace" aria-hidden="true" data-icon="d"><span>d</span></a>
						<a href="#" class="expander icon-replace" title="Expand"><span aria-hidden="true">p</span></a>
					</div>

					<textarea id="css" class="code-box"></textarea>

					<div class="settings">
						<form class="doublerow">
							<div>
								<input type="radio" class="hidden" id="css-none" checked name="css-preprocessor" value="none">
								<label class="button" for="css-none">None</label>
							</div>
							<div>
								<input type="radio" class="hidden" id="less" name="css-preprocessor" value="less">
								<label class="button" for="less">LESS <a target="_blank" href="#">?</a></label>
							</div>
							<div>
								<input type="radio" class="hidden" id="stylus" name="css-preprocessor" value="stylus">
								<label class="button" for="stylus">Stylus <a target="_blank" href="#">?</a></label>
							</div>
							<div>
								<input type="radio" class="hidden" id="scss" name="css-preprocessor" value="scss">
								<label class="button" for="scss">SCSS <a target="_blank" href="#">?</a></label>
							</div>
							<div class="double">
								<input type="radio" class="hidden" id="sass" name="css-preprocessor" value="sass">
								<label class="button" for="sass">SASS with Compass <a target="_blank" href="#">?</a></label>
							</div>
						</form>

						<form>
								<input type="radio" id="startercss-normalize" name="startercss" checked value="normalize">
								<label for="startercss-normalize">Normalize</label>

								&ensp;
							
								<input type="radio" id="startercss-reset" name="startercss" value="reset">
								<label for="startercss-reset">Reset</label>

								&ensp;

								<input type="radio" id="startercss-neither" name="startercss" value="neither">
								<label for="startercss-neither">Neither</label>
						</form>

						<form>
							<input type="checkbox" id="prefix-free" name="prefix-free">
							<label for="prefix-free">Prefix free</label>
						</form>

					</div>

				</div><!-- END div.box-css -->

				<div class="box-js last">

					<div class="powers">
						<h2>JS</h2>
						<a href="#" class="settings-nub icon-replace" aria-hidden="true" data-icon="d"><span>d</span></a>
						<a href="#" class="expander icon-replace" title="Expand"><span aria-hidden="true">p</span></a>
					</div>

					<textarea id="js" class="code-box"></textarea>

					<div class="settings">
						<form>
							<div>
								<input type="radio" class="hidden" id="js-none" checked name="js-preprocessor" value="none">
								<label class="button" for="js-none">None</label>
							</div>
							<div class="double">
								<input type="radio" class="hidden" id="coffeescript" name="js-preprocessor" value="coffeescript">
								<label class="button" for="coffeescript">CoffeeScript <a target="_blank" href="#">?</a></label>
							</div>
						</form>

						<form>
							<select style="width: 100%;" data-placeholder="JavaScript Library" id="js-select">
					      <option value=""></option>
				        <option value="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">jQuery 1.7.1</option>
				        <option value="//ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js">MooTools 1.4.1</option>
				        <option value="//ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js">Prototype 1.7.0.0</option>
      				</select>
          	</form>
					</div>					

				</div><!-- END div.box-css -->

			</div><!-- END div.top-boxes -->

			<div class="result">

				<div class="powers">
						<h2>Result</h2>
					</div>

				<iframe src="" id="result"></iframe>

			</div>

		</div><!--END div.boxes -->

		<%= partial :footer %>

	</div><!-- END div.wrap -->

	<script>
		__tbdata = <%= @tbdb %>
        __templates = <%= get_templates  %>;
	</script>

	<!-- todo need to dynamcially add the preprocessor and load that
	    so that it doesn't slow this page down, see require.js
	-->
	<%= js_scripts([
	    '/js/jquery.js',
	    '/js/codemirror.js',
	    '/js/tmpl.js',
	    '/mode/javascript/javascript.js',
	    '/mode/css/css.js',
	    '/mode/xml/xml.js',
	    '/js/chosen.jquery.min.js',
	    '/js/tb_data.js',
	    '/js/key_bindings.js',
	    '/js/code_renderer.js',
	    '/js/jquery-ui-1.8.17.custom.min.js',
	    '/js/main.js'
	    ])
	%>

</body>

</html>
